###
### .gitignore
###

## Mac shit
.DS_Store

## Editor-related tempfiles
.*.sw[op]
*~

## Logfiles
*.log
logs/

## Build tool configuration files and intermediate storage
.grunt/

# Node/npm
.node_repl_history
.npm/

## Package dependencies
node_modules/

## Coverage reports and instrumented source
.nyc_output/
coverage/
lib-cov/
lib/*.js

## `npm pack` artifact
abao-[0-9]*.[0-9]*.[0-9]*.tgz

## dotenv environment variables file
.env

